@import url("./Fonts.css");
@import url("./Colors.css");

@import url("./TopNavBar.css");
@import url("./Home.css");
@import url("./PropertiesSearchBar.css");
@import url("./FeatuedProperties.css");
@import url("./SmartProperties.css");

@import url("./SmallScreens/SmallTopNavBar.css");
@import url("./SmallScreens/SmallHome.css");
@import url("./SmallScreens/SmallPropertiesSearchBar.css");
@import url("./SmallScreens/SmallFeaturedProperties.css");

/* * {
  border: 1px solid red;
} */
body {
  margin: 0;
  padding: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.btn-light-blue {
  background-color: var(--blue-secondary);
  border-color: var(--blue-secondary);
  font-family: "Be Vietnam Pro", sans-serif;
}
.text-white {
  color: var(--white-primary);
}
