.auth-container {
  position: fixed;
  width: 900px;
  height: 600px;
  top: 50%;
  border-radius: 10px;
  left: 50%;
  margin-left: -450px;
  margin-top: -300px;
  background-color: var(--white-primary);
  z-index: 99999999;
}
.auth-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999;
}

.auth-button-default {
  background-color: var(--blue-primary);
  color: var(--white-primary);
  font-size: 17px;
  outline: none;
  border: 2px solid var(--blue-primary);
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.12s;
}
.auth-button-default:hover {
  background-color: var(--white-primary);
  color: var(--blue-primary);
}

@media screen and (max-width: 950px) {
  div.auth-container {
    width: 90vw;
    margin-left: -45vw;
  }
}

@media screen and (max-width: 750px) {
  div.login-container-left-container {
    flex-direction: column;
    padding-top: 18px;
  }
  span.auth-container-header {
    font-size: 30px;
    margin-bottom: 2px;
  }
  div.social-login-buttons {
    display: none;
  }
  div.small-social-login-buttons {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
  }
  button.small-social-login-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-primary);
    border-radius: 3px;
    border: 0.2pt solid var(--gray-secondary);
    cursor: pointer;
  }
  button.small-social-login-button:hover {
    opacity: 0.8;
  }
  img.small-social-login-button-icon {
    width: 25px;
    height: 25px;
  }
  img.login-rafiki-image {
    display: none;
  }
  div.login-subtext {
    display: none;
  }
  span.auth-container-sub-header {
    padding: 0px;
    margin-bottom: 20px;
  }
  div.login-container-right {
    box-sizing: border-box;
  }
}
