/* DM Serif Display */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
.DM-Serif {
  font-family: "DM Serif Display", serif;
}

/* Be Vietnam */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
.be-vietnam {
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.inter {
  font-family: "Inter", sans-serif;
}
