.home-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.home-jumbotron-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../IMG/HomeJumbotronBackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-jumbotron {
  position: relative;
  width: -webkit-fill-available;
  box-sizing: border-box;
  height: 100vh;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}
.jumbo-header {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  color: var(--white-primary);
  text-align: center;
  margin-bottom: 10vh;
}

.home-jumbo-carousel-controller {
  margin-top: 10vh;
  justify-content: space-between;
  width: 180px;
}
.home-jumbo-carousel-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--white-primary);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.home-jumbo-carousel-dot-active {
  background-color: var(--white-primary);
}
