.home-container {
  box-sizing: border-box;
}
.home-button-default {
  height: 45px;
  width: 170px;
  border-radius: 7px;
  font-size: 15px;
  border: 1px solid transparent;
  transition-duration: 0.12s;
  cursor: pointer;
}
.home-button-default:hover {
  opacity: 0.85;
}
.home-jumbotron-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url("../IMG/HomeJumbotronBackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-jumbotron {
  position: relative;
  width: -webkit-fill-available;
  box-sizing: border-box;
  height: 100vh;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}
.jumbo-header {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  color: var(--white-primary);
  text-align: center;
  margin-bottom: 10vh;
}

.home-jumbo-carousel-controller {
  margin-top: 10vh;
  justify-content: space-between;
  width: 180px;
}
.home-jumbo-carousel-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--white-primary);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.home-jumbo-carousel-dot-active {
  background-color: var(--white-primary);
}

.home-section-container {
  margin: 60px 0px;
  box-sizing: border-box;
  width: 100%;
}
.home-section-header {
  font-size: 30px;
  color: var(--blue-primary);
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.how-it-works-container {
  justify-content: space-between;
  max-width: 1200px;
  padding: 0px 30px;
  margin-top: 60px;
}
.how-it-works-card-background {
  max-width: 300px;
  max-height: 300px;
  width: 30vw;
  height: 30vw;
  box-sizing: border-box;
  background: transparent;
  transition-duration: 0.12s;
}
.how-it-works-card,
.how-it-works-card-background {
  border-radius: 8px;
}
.how-it-works-card-background:hover {
  background: linear-gradient(180deg, #fafafa 0%, #2a7aec 100%);
}
.how-it-works-card {
  align-items: center;
  width: 95%;
  height: 97%;
  justify-content: space-between;
  background-color: var(--white-primary);
  box-sizing: border-box;
  padding: 20px 10px;
  cursor: pointer;
}
.how-it-works-icon {
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}
.how-it-works-image {
  height: 25px;
}
.how-it-works-search-icon {
  background-color: var(--blue-primary);
}
.how-it-works-calendar-icon {
  background-color: var(--blue-secondary);
}
.how-it-works-credit-icon {
  background: #cccccc;
}
.how-it-works-text {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #727171;
}
.how-it-works-card-background:hover .how-it-works-index {
  background-color: var(--blue-secondary);
  color: var(--white-primary);
}
.how-it-works-index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: transparent;
  color: #727171;
  border-radius: 50%;
  font-family: "Inter", sans-serif;
}
