.login-container {
  width: 100%;
}
.login-container-left {
  padding: 0px 30px;
}
.auth-container-header {
  font-family: "DM Serif Display", sans-serif;
  color: var(--blue-primary);
  font-size: 35px;
}
.auth-input-container {
}
.auth-input-label {
  color: var(--gray-secondary);
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 12px;
}
.auth-input {
  background: var(--white-primary);
  border: 0.2pt solid var(--gray-secondary);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  height: 45px;
}
.auth-input-password-container {
  background: var(--white-primary);
  border: 0.2pt solid var(--gray-secondary);
  box-sizing: border-box;
  padding: 0px 10px;
  border-radius: 8px;
  outline: none;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}
.auth-input-password {
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.auth-input-password-icon {
  color: var(--gray-secondary);
  cursor: pointer;
}
.forgot-password-link {
  color: var(--blue-secondary);
  font-size: 13px;
}

.social-login-container {
  justify-content: space-between;
}
.or-social-row {
  justify-content: space-between;
  align-items: center;
}
.or-rule {
  width: 45%;
  height: 0px;
  border-bottom: 1px solid var(--blue-primary);
}
.social-login-buttons {
}
.social-login-button {
  width: 100%;
  height: 40px;
  background-color: var(--white-primary);
  color: var(--black-primary);
  border: 0.2pt solid var(--gray-secondary);
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}
.social-login-button:hover {
  opacity: 0.8;
}
.social-login-button-icon-container {
  position: absolute;
  float: left;
  padding-left: 50px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.social-login-button-icon {
  height: 25px;
}
